body {
  background-image: linear-gradient(to bottom right, #72BCFE, #C5F0FB);
}

.siteicon {
  border-radius: 50px;
  margin: 5px;
}

.card {
  text-align: center;
  margin: 10px;
  padding: 50px;
  width: 50%;
}

.btn {
  width: 100%;
  justify-content: center;
}