.siteicon {
  border-radius: 50px;
  margin: 5px;
}

.carousel {
  height: 500px;
  padding-top: 10px;
}

.carousel-item {
  height: 500px;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img1 {
  background-image: url(https://images.unsplash.com/photo-1593642702909-dec73df255d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80);
}

.img2 {
  background-image: url(https://images.unsplash.com/photo-1593642634443-44adaa06623a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);
}

.img3 {
  background-image: url(https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80);
}

.container {
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  width: 100%;
  padding: 3px;
  justify-content: center;
  align-items: center;
}